.carousel-container {
  width: 100!important;
  overflow: hidden!important;
  height: 100!important;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease !important; /* Add a transition for smooth sliding */
}

.carousel img {
  width: 100%!important; /* Adjust this to the appropriate width for your design */
  height: auto!important;
}

a{
  text-decoration: none;
  color:#fff ;
  
}